<app-navbar></app-navbar>

<div class="home-panel">
  <img class="profile-image" src="assets/profile.png" alt="Profile image">
  <div class="home-text">
    <p>I'm <b>Sam Cymbaluk</b>, a software developer with an interest in Bitcoin and other freedom technology.</p>
    <p>Welcome to my website. Feel free to take a look around!</p>
    <p>You can find the code for this site, as well as all my other projects on <a href="https://github.com/SamCymbaluk">Github</a>.</p>
  </div>
</div>

<app-footer style="position: fixed; bottom: 0; width: 100%"></app-footer>
