.home-panel {
  width: 75%;
  margin: 7rem auto auto;
  @media (max-width: 800px) {
    width: 90%;
  }
}

.profile-image {
  display: block;
  margin: auto;
}

.home-text {
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
}
